:host {
    display: block;
}

.form-control {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
}

.input {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0;
}

:host([orientation="horizontal"]) .input {
    flex-direction: row;
}
