/* IBM Plex Mono (Normal) */
@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* IBM Plex Mono (Italic) */
@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-LightItalic.woff2")
        format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-RegularItalic.woff2")
        format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-MediumItalic.woff2")
        format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-SemiBoldItalic.woff2")
        format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Mono";
    src: url("/fonts/ibm-plex-mono/IBMPlexMono-BoldItalic.woff2")
        format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
