/* Montserrat (Normal) */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

/* Montserrat (Italic) */
@font-face {
    font-family: "Montserrat";
    src: url("/fonts/montserrat/Montserrat-VariableItalic.woff2")
        format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}
