/* Nunito (Normal) */
@font-face {
    font-family: "Nunito";
    src: url("/fonts/nunito/Nunito-Variable.woff2") format("woff2");
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
    font-feature-settings: "ss01" on;
}

/* Nunito (Italic) */
@font-face {
    font-family: "Nunito";
    src: url("/fonts/nunito/Nunito-VariableItalic.woff2") format("woff2");
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
    font-feature-settings: "ss01" on;
}
