/* Playfair Display (Normal) */
@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/playfair-display/PlayfairDisplay-Variable.woff2")
        format("woff2");
    font-weight: 400 900;
    font-style: normal;
    font-display: swap;
}

/* Playfair Display (Italic) */
@font-face {
    font-family: "Playfair Display";
    src: url("/fonts/playfair-display/PlayfairDisplay-VariableItalic.woff2")
        format("woff2");
    font-weight: 400 900;
    font-style: italic;
    font-display: swap;
}
