/* Source Code Pro (Normal) */
@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/SourceCodePro-Variable.woff2")
        format("woff2");
    font-weight: 200 900;
    font-style: normal;
    font-display: swap;
}

/* Source Code Pro (Italic) */
@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/source-code-pro/SourceCodePro-VariableItalic.woff2")
        format("woff2");
    font-weight: 200 900;
    font-style: italic;
    font-display: swap;
}
