/* Space Grotesk (Normal, Bold) */
@font-face {
    font-family: "Space Grotesk";
    src: url("/fonts/space-grotesk/SpaceGrotesk-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
