---
import { getLanguageFromURL, useTranslations } from "../i18n/utilities.js";

import DynamicSidebar from "../components/DynamicSidebar.astro";
import SocialIcons from "../components/SocialIcons.astro";

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);
---

<pc-drawer class="mobile-sidebar pc-cloak" placement="start">
    <span class="pc-visually-hidden" slot="label">
        {translation("sidebar.aria")}
    </span>

    <SocialIcons slotName="header-actions" variant="plain" is992Size={true} />

    <DynamicSidebar isMobile={true} />
</pc-drawer>

<style>
    .mobile-sidebar::part(drawer) {
        background-color: var(--pc-color-surface-default);
    }

    .mobile-sidebar::part(title) {
        font-weight: var(--pc-font-weight-normal);
    }
</style>
