:host {
    --size: 25rem;
    --header-spacing: var(--pc-spacing-xl);
    --body-spacing: var(--pc-spacing-s) var(--pc-spacing-xl);
    --footer-spacing: var(--pc-spacing-s) var(--pc-spacing-xl)
        var(--pc-spacing-xl);

    display: none;
}

:host([open]) {
    display: block;
}

.drawer {
    display: flex;
    flex-direction: column;
    inset-block-start: 0;
    inset-inline-start: 0;
    margin: 0;
    padding: 0;
    inline-size: 100%;
    max-inline-size: 100%;
    block-size: 100%;
    max-block-size: 100%;
    background-color: var(--pc-color-surface-raised);
    color: inherit;
    border: none;
    box-shadow: var(--pc-shadow-xl);
    overflow: auto;
}

.drawer::backdrop {
    background-color: var(--pc-color-overlay-modal);
}

.drawer.show::backdrop {
    animation: drawer-backdrop-open 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.drawer.hide::backdrop {
    animation: drawer-backdrop-close 0.2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.drawer:focus {
    outline: none;
}

.top {
    inset-block-start: 0;
    inset-block-end: auto;
    inset-inline-start: 0;
    inset-inline-end: auto;
    inline-size: 100%;
    block-size: var(--size);
}

.end {
    inset-block-start: 0;
    inset-block-end: auto;
    inset-inline-start: auto;
    inset-inline-end: 0;
    inline-size: var(--size);
    block-size: 100%;
}

.bottom {
    inset-block-start: auto;
    inset-block-end: 0;
    inset-inline-start: 0;
    inset-inline-end: auto;
    inline-size: 100%;
    block-size: var(--size);
}

.start {
    inset-block-start: 0;
    inset-block-end: auto;
    inset-inline-start: 0;
    inset-inline-end: auto;
    inline-size: var(--size);
    block-size: 100%;
}

.header {
    display: flex;
    gap: var(--pc-spacing-l);
    flex: 0 0 auto;
    flex-wrap: nowrap;
    padding: var(--header-spacing);
}

.title {
    align-self: center;
    flex: 1 1 auto;
    margin: 0;
    font-family: inherit;
    font-size: var(--pc-font-size-l);
    font-weight: var(--pc-font-weight-bold);
    line-height: var(--pc-line-height-dense);
}

.header-actions {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    gap: var(--pc-spacing-xs);
    flex-shrink: 0;
    flex-wrap: wrap;
}

.header-actions pc-button,
.header-actions ::slotted(pc-button) {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
}

.body {
    display: block;
    flex: 1 1 auto;
    padding: var(--body-spacing);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.footer {
    flex: 0 0 auto;
    padding: var(--footer-spacing);
    text-align: end;
}

.footer ::slotted(pc-button:not(:first-of-type)) {
    margin-inline-start: var(--pc-spacing-xs);
}

.drawer:not(.has-footer) .footer {
    display: none;
}

.drawer:not(:has(> .header)) .body {
    --body-spacing: var(--pc-spacing-xl) var(--pc-spacing-xl)
        var(--pc-spacing-s) var(--pc-spacing-xl);
}

.drawer:not(.has-footer) .body {
    --body-spacing: var(--pc-spacing-s) var(--pc-spacing-xl)
        var(--pc-spacing-xl) var(--pc-spacing-xl);
}

.drawer:not(:has(> .header), .has-footer) .body {
    --body-spacing: var(--pc-spacing-xl);
}

@keyframes drawer-backdrop-open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes drawer-backdrop-close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (forced-colors: active) {
    .drawer-panel {
        border: 1px solid oklch(100% 0 0);
    }
}
