---
import Page from "../layouts/Page.astro";

import CodeComparison from "../components/CodeComparison.astro";
import FeatureTiles from "../components/FeatureTiles.astro";
import FeatureTile from "../components/FeatureTile.astro";
import LandingCTA from "../components/LandingCTA.astro";
import Showcase from "../components/Showcase.astro";
import SpecialThanksGrid from "../components/SpecialThanksGrid.astro";

import "../styles/catalog.css";
import "../styles/landing-override.css";
---

<script>
    import "../scripts/navigation-bar-opacity.ts";
</script>

<Page title="Placer Toolkit" noSidebar noBanner showFooter hero>
    <div class="landing-page">
        <LandingCTA />

        <h2 class="pc-heading-l">What is Placer Toolkit?</h2>

        <p>
            <strong>Placer Toolkit</strong>{" "}
            <span class="ipa" lang="en-fonipa">/ˈplækər ˈtuːlkɪt/</span> is an open‐source
            web component library that lets you build websites with any framework—or
            with none at all.
        </p>

        <FeatureTiles>
            <FeatureTile
                label="Entirely native"
                icon="puzzle-piece"
                href="/docs/get-started/usage"
            >
                Built with web standards, Placer Toolkit works in any
                framework—or none at all.
                <em>No locking in, no compromises.</em>
            </FeatureTile>
            <FeatureTile
                label="Fully accessible"
                icon="universal-access"
                href="/docs/legal/accessibility"
            >
                Accessibility is our standard—built into every component.
                <em>It works for everyone, everywhere.</em>
            </FeatureTile>
            <FeatureTile
                label="Hassle‐free privacy"
                icon="shield-halved"
                href="/docs/legal/gdpr"
            >
                No trackers, no cookies, no worries. Locally hosted and
                GDPR‐compliant.
                <em>Privacy by design.</em>
            </FeatureTile>
            <FeatureTile
                label="Flexible"
                icon="paintbrush"
                href="/docs/get-started/customisation"
            >
                Easily restyle, customise and adapt components to match your
                design.
                <em>Your website, your rules.</em>
            </FeatureTile>
            <FeatureTile
                label="Globally ready"
                icon="globe"
                href="/docs/get-started/localisation"
            >
                With 71 locales out‐of‐the‐box and the ability to add more any
                time.
                <em>Your website speaks every language.</em>
            </FeatureTile>
            <FeatureTile
                label="Minimal overhead"
                icon="feather"
                href="/docs/get-started/installation"
            >
                No unnecessary dependencies, no bloat. Only what you actually
                need.
                <em>Lean, fast, maintainable.</em>
            </FeatureTile>
        </FeatureTiles>

        <h2 class="pc-heading-l">Why use Placer Toolkit?</h2>

        <p>
            <strong>Read intent, not implementation.</strong>
            Traditional toolkits hide your logic inside a “class jungle”. Placer Toolkit
            uses semantic web components to make your markup readable again. Fewer
            lines, zero noise—just clean, expressive code that tells you exactly what
            it does.
        </p>

        <CodeComparison />

        <h2 class="pc-heading-l">Theme showcase</h2>

        <p>
            The Placer Toolkit styling system is based on 18 unique combinations
            derived from: three distinct themes, three versatile colour palettes
            and two crisp colour schemes. Use this interactive showcase to
            instantly preview the aesthetic potential of the toolkit.
        </p>

        <Showcase />

        <h2 class="pc-heading-l">Special thanks</h2>

        <p>
            Placer Toolkit is built with the help of these excellent open‐source
            libraries, which provide support for various project functions.
        </p>

        <SpecialThanksGrid />
    </div>
</Page>

<style>
    .landing-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
        inline-size: calc(100dvw - (var(--pc-spacing-xxxxl) * 2));
    }
</style>
