---
import { getLanguageFromURL, useTranslations } from "../i18n/utilities.js";

import CodeBlock from "./CodeBlock.astro";

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);

const bootstrapCode = `<!-- Bootstrap -->
<main
    class="container-fluid d-flex justify-content-center align-items-center p-4 bg-light min-vh-100"
>
    <div class="card border-0 shadow-sm p-4 w-100">
        <h1 class="h3 text-center mb-4">${translation("codeComparison.signIn")}</h1>

        <form>
            <div class="mb-3">
                <label class="form-label small fw-medium">${translation("codeComparison.email")}</label>

                <div class="input-group">
                    <span
                        class="input-group-text bg-transparent border-end-0"
                    >
                        <i class="bi bi-envelope-fill"></i>
                    </span>

                    <input
                        type="email"
                        class="form-control border-start-0"
                        placeholder="${translation("codeComparison.email.example")}"
                    />
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label small fw-medium">${translation("codeComparison.password")}</label>

                <div class="input-group">
                    <span
                        class="input-group-text bg-transparent border-end-0"
                    >
                        <i class="bi bi-key-fill"></i>
                    </span>

                    <input
                        type="password"
                        class="form-control border-start-0"
                    />
                </div>
                <div class="mt-2 text-end">
                    <a class="small text-decoration-none" href="#">
                        ${translation("codeComparison.password.forgot")}
                    </a>
                </div>
            </div>

            <div class="d-grid">
                <button
                    type="submit"
                    class="btn btn-primary d-flex align-items-center justify-content-center gap-2"
                >
                    <i class="bi bi-box-arrow-in-right"></i>

                    ${translation("codeComparison.signIn")}
                </button>
            </div>
        </form>
    </div>
</main>

<style>
    main .card {
        max-inline-style: 30rem;
        border-radius: 1.5rem;
    }
</style>`;

const placerToolkitCode = `<!-- Placer Toolkit -->
<main class="main-content">
    <form class="pc-stack">
        <h1>${translation("codeComparison.signIn")}</h1>

        <pc-input label="${translation("codeComparison.email")}" type="email" placeholder="${translation("codeComparison.email.example")}">
            <pc-icon
                library="default"
                icon-style="solid"
                name="envelope"
                slot="prefix"
            ></pc-icon>
        </pc-input>

        <pc-input label="${translation("codeComparison.password")}" type="password" password-toggle>
            <pc-icon
                library="default"
                icon-style="solid"
                name="key"
                slot="prefix"
            ></pc-icon>

            <a href="#" slot="hint">${translation("codeComparison.password.forgot")}</a>
        </pc-input>

        <pc-button appearance="primary">
            <pc-icon
                library="default"
                icon-style="solid"
                name="arrow-right-to-bracket"
                slot="prefix"
            ></pc-icon>

            ${translation("codeComparison.signIn")}
        </pc-button>
    </form>
</main>

<style>
    .main-content {
        inline-size: 100%;
        background-color: var(--pc-color-surface-lowered);
    }

    .main-content form {
        padding: var(--pc-spacing-l);
        max-inline-size: 95%;
        inline-size: 30rem;
        background-color: var(--pc-color-surface-default);
        border-radius: var(--pc-border-radius-xl);
        box-shadow: var(--pc-shadow-m);
    }

    .main-content form h1 {
        font-size: var(--pc-font-size-xl);
        text-align: center;
    }
</style>`;

const previewHTML = placerToolkitCode.replace(
    /<style>([\s\S]*?)<\/style>/,
    (_match, css) =>
        `<style>${css.replace(/([^\r\n,{}]+)(,(?=[^}]*{)|\s*{)/g, ".preview $1$2")}</style>`,
);
---

<div class="code-comparison">
    <pc-comparer>
        <div slot="before">
            <CodeBlock language="html" showLineNumbers>
                {bootstrapCode}
            </CodeBlock>
        </div>
        <div slot="after">
            <CodeBlock language="html" showLineNumbers>
                {placerToolkitCode}
            </CodeBlock>
        </div>
    </pc-comparer>

    <div class="preview" set:html={previewHTML} />
</div>

<script>
    import type { PcComparer } from "placer-toolkit/dist/components/comparer/comparer.js";

    const codeComparison = document.querySelector(".code-comparison");
    const comparer = codeComparison?.querySelector<PcComparer>("pc-comparer");
    const preview = codeComparison?.querySelector(".preview");

    if (preview && comparer) {
        const resizeObserver = new ResizeObserver((entries) => {
            for (let entry of entries) {
                comparer.style.blockSize = `${entry.contentRect.height}px`;
            }
        });

        resizeObserver.observe(preview);
    }
</script>

<style>
    .code-comparison {
        display: flex;
        align-items: stretch;
        justify-content: stretch;
        gap: var(--pc-spacing-xl);
        margin-block-end: var(--pc-spacing-xxl);
    }

    pc-comparer {
        --divider-width: 0.0625rem;

        flex: 1;
        border-radius: var(--pc-border-radius-xl);
        overflow: hidden;
    }

    pc-comparer [slot~="before"],
    pc-comparer [slot~="after"] {
        block-size: 100%;
        overflow: hidden;
    }

    pc-comparer::part(before),
    pc-comparer::part(after) {
        pointer-events: auto;
    }

    pc-comparer::part(divider),
    pc-comparer::part(handle) {
        background-color: var(--pc-color-surface-border);
        translate: unset;
    }

    pc-comparer :global(.code-block-container) {
        display: flex;
        flex-direction: column;
        block-size: 100%;
    }

    pc-comparer :global(.code-block) {
        border-radius: var(--pc-border-radius-xl);
        overflow: hidden;
    }

    pc-comparer :global(.code-block pre) {
        overflow: auto;
        block-size: 100%;
    }

    pc-comparer :global(.code-block pre:focus-visible) {
        outline: var(--pc-focus-ring);
        outline-offset: var(--pc-focus-ring-offset);
    }

    pc-comparer :global(pc-copy-button) {
        display: none;
    }

    .preview {
        flex: 0 0 35%;
        min-inline-size: 35%;
        block-size: fit-content;
        border: var(--pc-border-width-s) var(--pc-border-style)
            var(--pc-color-surface-border);
        border-radius: var(--pc-border-radius-xl);
        overflow: hidden;
    }

    @media screen and (max-width: 992px) {
        .code-comparison {
            flex-direction: column-reverse;
        }

        .preview {
            flex: unset;
            min-inline-size: unset;
        }
    }
</style>
