---
import { getShiki } from "../scripts/shiki-process.ts";

const { language = "text", showLineNumbers } = Astro.props;

let rawCode = await Astro.slots.render("default");

if (typeof rawCode !== "string") {
    rawCode = "";
}

rawCode = rawCode
    .replace(/&lt;/g, "<")
    .replace(/&gt;/g, ">")
    .replace(/&quot;/g, '"')
    .replace(/&#39;/g, "'")
    .replace(/&amp;/g, "&");

const highlighter = await getShiki();

const html = highlighter.codeToHtml(rawCode, {
    lang: language === "js" ? "javascript" : language,
    theme: "placer-eclipse",
});

const uniqueID = Math.random().toString(36).slice(2, 11);

const finalHTML = html
    .replace(/<code(\s+class="[^"]*")?/, `<code id="${uniqueID}"$1`)
    .replace(/ tabindex="0"/g, "");

const isTerminal = ["bash", "shell", "sh"].includes(language);
---

<div
    class:list={{
        "code-block-container": true,
        "show-line-numbers": showLineNumbers,
    }}
>
    {
        isTerminal && (
            <div class="terminal-bar">
                <div class="circle circle-red" />
                <div class="circle circle-yellow" />
                <div class="circle circle-green" />
            </div>
        )
    }

    <div class="code-block">
        <pc-copy-button from={uniqueID}></pc-copy-button>
        <Fragment set:html={finalHTML} />
    </div>
</div>

<style>
    .code-block-container {
        margin-block-end: var(--pc-content-spacing);
    }

    .code-block-container,
    .pc-light.code-block-container,
    :global(.pc-light) .code-block-container {
        --pc-color-syntax-entity-name: var(--pc-color-purple-20);
        --pc-color-text-normal-inverse: oklch(100% 0 0);

        --pc-color-mix-syntax: 10%;
    }

    .pc-dark.code-block-container,
    :global(.pc-dark) .code-block-container {
        --pc-color-syntax-entity-name: var(--pc-color-purple-70);
        --pc-color-text-normal-inverse: oklch(0% 0 0);

        --pc-color-mix-syntax: 20%;
    }

    .terminal-bar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.375rem;
        padding-inline: var(--pc-spacing-l);
        inline-size: 100%;
        block-size: 2rem;
        background-color: var(--pc-color-surface-raised);
        border: var(--pc-border-width-s) var(--pc-border-style)
            var(--pc-color-surface-border);
        border-block-end: 0;
        border-start-start-radius: var(--pc-border-radius-l);
        border-start-end-radius: var(--pc-border-radius-l);
    }

    .terminal-bar .circle {
        inline-size: 0.625rem;
        block-size: 0.625rem;
        opacity: 0.6;
        border-radius: var(--pc-border-radius-circle);
    }

    .terminal-bar .circle-red {
        background-color: var(--pc-color-red-60);
    }

    .terminal-bar .circle-yellow {
        background-color: var(--pc-color-yellow-60);
    }

    .terminal-bar .circle-green {
        background-color: var(--pc-color-green-60);
    }

    .code-block {
        position: relative;
        inline-size: 100%;
        max-block-size: max-content;
        background-color: var(--pc-color-surface-raised);
        border: var(--pc-border-width-s) var(--pc-border-style)
            var(--pc-color-surface-border);
        border-radius: var(--pc-border-radius-l);
        overflow: visible;
    }

    .terminal-bar + .code-block {
        border-start-start-radius: 0;
        border-start-end-radius: 0;
    }

    .code-block :is(pre, code) {
        margin: 0 !important;
        padding: 0 !important;
        border-radius: 0;
        background-color: transparent;
    }

    .code-block :global(.shiki) {
        counter-reset: line;
        display: block;
        padding: var(--pc-spacing-l) !important;
        background-color: transparent;
        font-size: var(--pc-font-size-xs);
        line-height: var(--pc-line-height-normal);
        overflow-x: auto;
    }

    .code-block-container.show-line-numbers .code-block :global(.line::before) {
        content: counter(line);
        display: inline-block;
        margin-inline-end: var(--pc-spacing-s);
        padding-inline-end: var(--pc-spacing-s);
        min-inline-size: 2.25em;
        counter-increment: line;
        color: var(--pc-color-text-quiet);
        border-inline-end: var(--pc-border-width-s) var(--pc-border-style)
            var(--pc-color-surface-border);
        font-variant-numeric: tabular-nums;
        text-align: end;
        user-select: none;
        -webkit-user-select: none;
    }

    .code-block pc-copy-button {
        position: absolute;
        inset-block-start: var(--pc-spacing-s);
        inset-inline-end: var(--pc-spacing-s);
        z-index: 1;
    }

    .code-block pc-copy-button::part(button) {
        background-color: var(--pc-color-surface-raised);
    }

    @media (hover: hover) {
        .code-block pc-copy-button::part(button):hover {
            background-color: color-mix(
                in oklab,
                var(--pc-color-surface-raised),
                var(--pc-color-mix-hover)
            );
        }
    }

    .code-block pc-copy-button::part(button):focus-visible {
        background-color: color-mix(
            in oklab,
            var(--pc-color-surface-raised),
            var(--pc-color-mix-hover)
        );
    }

    .code-block pc-copy-button::part(button):active {
        background-color: color-mix(
            in oklab,
            var(--pc-color-surface-raised),
            var(--pc-color-mix-active)
        );
    }
</style>
