---
import { getLanguageFromURL, useTranslations } from "../i18n/utilities.js";

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);

const { isMobile = false } = Astro.props;
---

<div class="toc-container">
    <nav aria-labelledby="toc-heading">
        <pc-scroller class="toc-scroll-fade" orientation="vertical">
            {
                !isMobile && (
                    <h3 class="toc-heading" id="toc-heading">
                        {translation("ui.toc.onThisPage")}
                    </h3>
                )
            }
            <div class="toc-inner">
                <div class="toc-marker"></div>
                <ul
                    class="toc-ul"
                    data-overview={translation("ui.toc.overview")}
                >
                </ul>
            </div>
        </pc-scroller>
    </nav>
</div>

<script>
    import type { PcScroller } from "placer-toolkit/dist/components/scroller/scroller.js";

    document.addEventListener("astro:page-load", async () => {
        const tocs = document.querySelectorAll(".toc");
        const article = document.querySelector("article");

        if (!article || tocs.length === 0) {
            return;
        }

        const articleHeader = article.querySelector('header[id="_top"]');
        const headings = Array.from(article.querySelectorAll("h2[id], h3[id]"));
        const elementsToWatch = articleHeader
            ? [articleHeader, ...headings]
            : headings;

        let isInitialLoad = true;

        function setActiveID(id: string) {
            const targetID = id || "_top";
            const allLinks =
                document.querySelectorAll<HTMLAnchorElement>(".toc-ul a");

            allLinks.forEach((link) => {
                const isActive = link.getAttribute("href") === `#${targetID}`;

                if (isActive) {
                    link.setAttribute("aria-current", "location");
                } else {
                    link.removeAttribute("aria-current");
                }
            });

            tocs.forEach((toc) => {
                const activeLink = toc.querySelector<HTMLAnchorElement>(
                    'a[aria-current="location"]',
                );
                const marker = toc.querySelector<HTMLElement>(".toc-marker");
                const li = activeLink?.closest("li");

                if (activeLink && marker && li) {
                    const y =
                        li.offsetTop +
                        activeLink.offsetHeight / 2 -
                        marker.offsetHeight / 2;

                    marker.style.transform = `translateY(${y}px)`;
                }
            });
        }

        for (const toc of tocs) {
            const tocList = toc.querySelector<HTMLUListElement>(".toc-ul");

            if (!tocList) {
                continue;
            }

            tocList.innerHTML = "";

            const overviewItem = document.createElement("li");

            overviewItem.className = "toc-item depth-2";
            overviewItem.innerHTML = `
                <a href="#${articleHeader?.id || "_top"}">
                    ${tocList.dataset.overview || "Overview"}
                </a>
            `;

            tocList.appendChild(overviewItem);

            let lastH2Li: HTMLLIElement = overviewItem;

            headings.forEach((heading) => {
                const depth = heading.tagName === "H2" ? 2 : 3;
                const li = document.createElement("li");

                li.className = `toc-item depth-${depth}`;
                li.innerHTML = `
                    <a href="#${heading.id}">
                        ${heading.textContent?.trim() || ""}
                    </a>
                `;

                if (depth === 2) {
                    tocList.appendChild(li);

                    lastH2Li = li;
                } else if (depth === 3 && lastH2Li) {
                    let nestedUl = lastH2Li.querySelector("ul");

                    if (!nestedUl) {
                        nestedUl = document.createElement("ul");
                        nestedUl.className = "toc-ul depth-3";

                        lastH2Li.appendChild(nestedUl);
                    }

                    nestedUl.appendChild(li);
                }
            });

            await customElements.whenDefined("pc-scroller");

            const tocScroller = toc.querySelector<PcScroller>("pc-scroller");
            const content = tocScroller?.shadowRoot?.querySelector("#content");

            content?.addEventListener(
                "scroll",
                () =>
                    setActiveID(
                        document
                            .querySelector('a[aria-current="location"]')
                            ?.getAttribute("href")
                            ?.replace("#", "") || "",
                    ),
                { passive: true },
            );
        }

        const observer = new IntersectionObserver(
            (entries) => {
                entries.forEach((entry) => {
                    if (!entry.rootBounds) {
                        return;
                    }

                    if (isInitialLoad && !entry.isIntersecting) {
                        return;
                    }

                    if (entry.isIntersecting) {
                        setActiveID(entry.target.id);
                    } else if (
                        !entry.isIntersecting &&
                        entry.boundingClientRect.top > entry.rootBounds.top
                    ) {
                        const index = elementsToWatch.indexOf(
                            entry.target as HTMLElement,
                        );
                        const previousItem = elementsToWatch[index - 1];

                        if (previousItem) {
                            setActiveID(previousItem.id);
                        }
                    }
                });

                if (isInitialLoad) {
                    isInitialLoad = false;
                }
            },
            {
                rootMargin: "-100px 0% -80% 0%",
                threshold: 0,
            },
        );

        elementsToWatch.forEach((element) => observer.observe(element));

        if (window.scrollY < 50) {
            setActiveID(articleHeader?.id || "_top");
        }

        window.addEventListener(
            "resize",
            () =>
                setActiveID(
                    document
                        .querySelector('a[aria-current="location"]')
                        ?.getAttribute("href")
                        ?.replace("#", "") || "",
                ),
            { passive: true },
        );
    });
</script>

<style is:global>
    .toc-container {
        position: relative;
    }

    .toc-container .toc-scroll-fade {
        position: relative;
        max-block-size: calc(100dvh - 3.5rem - var(--pc-spacing-xxxl));
    }

    .toc-container .toc-scroll-fade .toc-heading:not(.toc-mobile .toc-heading) {
        margin-block-end: var(--pc-spacing-s);
        font-size: var(--pc-font-size-m);
    }

    .toc-container .toc-scroll-fade .toc-inner {
        position: relative;
        padding-inline: var(--pc-spacing-l);
    }

    .toc-container .toc-scroll-fade .toc-inner::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline-start: 0;
        inline-size: var(--pc-border-width-m);
        block-size: 100%;
        background-color: var(--pc-color-neutral-border-quiet);
        border-radius: var(--pc-border-radius-pill);
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-marker {
        position: absolute;
        inset-inline-start: 0;
        inline-size: var(--pc-border-width-m);
        block-size: var(--pc-spacing-xl);
        background: var(--pc-color-primary-border-loud);
        border-radius: var(--pc-border-radius-pill);
        will-change: transform;
        pointer-events: none;
        transition: transform var(--pc-transition-fast)
            cubic-bezier(0.2, 0.8, 0.2, 1);
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-ul {
        margin-inline-start: 0;
        inline-size: 100%;
        font-size: var(--pc-font-size-s);
        list-style: none;
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-ul.depth-3 {
        padding-inline-start: var(--pc-spacing-m);
    }

    .toc-container .toc-scroll-fade .toc-inner .toc-ul .toc-item {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        margin-block: 0.75rem;
        margin-inline: 0;

        &.depth-3:last-child {
            margin-block-end: 0;
        }

        a {
            display: block;
            inline-size: 100%;
            color: var(--pc-color-text-quiet);
            font-weight: var(--pc-font-weight-normal);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-decoration: none;
            transition: color var(--pc-transition-fast) ease-in-out;

            @media (hover: hover) {
                &:hover {
                    color: color-mix(
                        in oklab,
                        var(--pc-color-text-quiet),
                        var(--pc-color-mix-hover)
                    );
                }
            }

            &:active {
                color: color-mix(
                    in oklab,
                    var(--pc-color-text-quiet),
                    var(--pc-color-mix-active)
                );
            }

            &[aria-current="location"] {
                color: var(--pc-color-primary-fill-loud);
                font-weight: var(--pc-font-weight-semibold);
            }
        }
    }
</style>
