---
import {
    getLanguageFromURL,
    useTranslations,
    useTranslatedPath,
} from "../i18n/utilities.js";
import { Image } from "astro:assets";

import Logo from "../assets/logo.svg";

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);
const translatePath = useTranslatedPath(language);
---

<footer class="footer">
    <div class="footer-content pc-grid pc-gap-xxl">
        <div class="pc-split:column pc-align-items-start">
            <div class="info pc-stack pc-gap-s" style="--min-column-size: 50ch">
                <div class="logo-tagline pc-cluster pc-gap-s">
                    <Image src={Logo} width="32" height="32" alt="" />
                    <b class="tagline">
                        <span>
                            {translation("landingCTA.tagline.flexible")}
                        </span>
                        <span>
                            {translation("landingCTA.tagline.accessible")}
                        </span>
                        <span style="white-space: nowrap">
                            {translation("landingCTA.tagline.webComponents")}
                        </span>
                    </b>
                </div>
                <div class="pc-body-s">
                    <p>
                        {translation("landingCTA.marketingLine.descriptive")}
                    </p>
                    <p class="copyright">
                        {translation("footer.copyright.left")}
                        <pc-icon
                            library="default"
                            icon-style="solid"
                            name="heart"
                            label={translation("footer.copyright.centre")}
                        ></pc-icon>
                        <span
                            set:html={translation("footer.copyright.right")}
                        />
                    </p>
                </div>
            </div>
            <div class="buttons pc-cluster">
                <pc-button
                    size="small"
                    variant="plain"
                    data-dialog="open privacy-promise"
                >
                    <pc-icon
                        library="default"
                        icon-style="solid"
                        name="cookie-bite"
                        label={translation("button.ourPrivacyPromise")}
                        style="color: var(--pc-color-orange-50)"></pc-icon>
                </pc-button>
            </div>
        </div>

        <div
            class="footer-links pc-grid pc-align-items-start pc-gap-l"
            style="--min-column-size: 15ch"
        >
            <div class="pc-stack pc-gap-xs">
                <h3 class="pc-heading-s">
                    {translation("footer.heading.docs")}
                </h3>
                <ul class="list-links">
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath(
                                "/docs/get-started/installation",
                            )}
                        >
                            {translation("nav.content.docs.installation")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/get-started/usage")}
                        >
                            {translation("nav.content.docs.usage")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/design-tokens")}
                        >
                            {translation("nav.content.docs.designTokens")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/components")}
                        >
                            {translation("nav.content.docs.components")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/resources/changelog")}
                        >
                            {translation("nav.content.docs.changelog")}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pc-stack pc-gap-xs">
                <h3 class="pc-heading-s">
                    {translation("footer.heading.about")}
                </h3>
                <ul class="list-links">
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/resources/community")}
                        >
                            {translation("nav.content.about.community")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/resources/contributing")}
                        >
                            {translation("nav.content.about.contributing")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/resources/brand-assets")}
                        >
                            {translation("nav.content.about.brandAssets")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href="https://github.com/placer-toolkit/placer-toolkit/discussions"
                        >
                            {translation("nav.content.about.support")}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="pc-stack pc-gap-xs">
                <h3 class="pc-heading-s">
                    {translation("footer.heading.legal")}
                </h3>
                <ul class="list-links">
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/legal/privacy")}
                        >
                            {translation("nav.content.legal.privacy")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/legal/gdpr")}
                        >
                            {translation("nav.content.legal.gdpr")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/legal/accessibility")}
                        >
                            {translation("nav.content.legal.accessibility")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/legal/code-of-conduct")}
                        >
                            {translation("nav.content.legal.codeOfConduct")}
                        </a>
                    </li>
                    <li>
                        <a
                            class="pc-link-plain"
                            href={translatePath("/docs/legal/licence")}
                        >
                            {translation("nav.content.legal.licence")}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style>
    .footer {
        grid-area: footer;
        padding: var(--pc-spacing-xxl) var(--pc-spacing-xxl);
        inline-size: 100%;
        border-block-start: var(--pc-border-width-s) var(--pc-border-style)
            var(--pc-color-surface-border);
    }

    .footer .info .logo-tagline .tagline {
        translate: 0 0.125rem;
    }

    .footer .info .copyright pc-icon[name="heart"] {
        padding-inline: var(--pc-spacing-xxs);
        translate: 0 0.125rem;
        cursor: pointer;
    }

    @media (hover: hover) {
        .footer .info .copyright pc-icon[name="heart"]:hover {
            color: var(--pc-color-red-60);
            animation: fa-beat 1s ease-in-out infinite;
            transition: color var(--pc-transition-fast) ease-in-out;
        }
    }

    @media (hover: none) {
        .footer .info .copyright pc-icon[name="heart"]:active {
            color: var(--pc-color-red-60);
            animation: fa-beat 1s ease-in-out infinite;
            transition: color var(--pc-transition-fast) ease-in-out;
        }
    }

    .footer .footer-links {
        flex-wrap: wrap;
    }

    .footer .footer-links h3 {
        margin-block-end: var(--pc-spacing-xs);
        color: var(--pc-color-text-quiet);
    }

    .footer .footer-links .list-links {
        display: flex-start;
        flex-direction: column;
        gap: var(--pc-spacing-xs);
        list-style: none;
    }

    @keyframes fa-beat {
        0%,
        90% {
            transform: scale(1);
        }

        45% {
            transform: scale(1.25);
        }
    }

    @media screen and (max-width: 850px) {
        .footer-content {
            grid-template-columns: 1fr;
        }
    }
</style>
