<header class="legacy-banner">
    This is an unmaintained version of Placer Toolkit.
    <a href="https://placer-toolkit.vercel.app">See the latest docs.</a>
</header>

<style>
    .legacy-banner {
        grid-area: banner;
        padding-block: var(--pc-spacing-xs);
        padding-inline: var(--pc-spacing-s);
        inline-size: 100%;
        background-color: var(--pc-color-warning-300);
        color: var(--pc-color-warning-900);
        text-align: center;
    }

    .legacy-banner a {
        color: var(--pc-color-warning-900);
    }

    .legacy-banner a:hover {
        color: var(--pc-color-warning-950);
    }

    .legacy-banner a:active {
        color: var(--pc-color-warning-800);
    }
</style>
