---
import { getLanguageFromURL, useTranslations, useTranslatedPath } from "../i18n/utilities.js";

import "@pagefind/default-ui/css/ui.css";

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);
---

<pc-dialog class="search-dialog" id="search-dialog" no-header>
    {
        import.meta.env.MODE === "development" && (
            <p
                class="dev-warning"
                set:html={translation("ui.search.searchNotAvailableInDevBuilds")}
            ></p>
        )
    }
    {import.meta.env.MODE === "production" && <div id="search" />}
</pc-dialog>

<script>
    import type { PcDialog } from "placer-toolkit/dist/components/dialog/dialog.js";

    document.addEventListener("keydown", (event) => {
        if (
            (event.key === "k" && (event.metaKey || event.ctrlKey)) ||
            (event.key === "/" &&
                !event.composedPath().some((element) => {
                    const tag = (
                        element as HTMLElement
                    )?.tagName?.toLowerCase();
                    return (
                        tag === "textarea" ||
                        (tag === "input" &&
                            !["checkbox", "radio"].includes(
                                (element as HTMLInputElement).type,
                            ))
                    );
                }))
        ) {
            event.preventDefault();

            const searchDialog: PcDialog | null =
                document.querySelector(".search-dialog");

            if (searchDialog) {
                searchDialog.open = true;
            }
        }
    });

    window.addEventListener("DOMContentLoaded", () => {
        if (import.meta.env.DEV) {
            return;
        }

        const onIdle =
            window.requestIdleCallback ||
            ((callback) => setTimeout(callback, 1));

        onIdle(async () => {
            // @ts-expect-error — Missing types for the @pagefind/default-ui package
            const { PagefindUI } = await import("@pagefind/default-ui");

            new PagefindUI({
                element: "#search",
                showImages: false,
                showSubResults: true,
            });

            setTimeout(() => {
                const searchInput: HTMLInputElement | null =
                    document.querySelector(
                        "#search .pagefind-ui__search-input",
                    );

                if (searchInput) {
                    const inputId = "pagefind-ui__search-input";
                    searchInput.id = inputId;

                    searchInput.focus();

                    const label = document.createElement("label");
                    label.setAttribute("for", inputId);
                    label.classList.add("pc-visually-hidden");
                    label.textContent =
                        "Search the Placer Toolkit documentation…";

                    const searchForm =
                        searchInput.closest(".pagefind-ui__form");
                    if (searchForm) {
                        searchForm.insertBefore(label, searchInput);
                    } else {
                        searchInput.parentNode?.insertBefore(
                            label,
                            searchInput,
                        );
                    }
                }
            }, 100);
        });
    });
</script>

<style is:global>
    .search-dialog:has(> .dev-warning)::part(body) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-dialog::part(dialog) {
        position: fixed;
        inset-block: 0;
        margin-block-start: 2%;
        inline-size: 40rem;
        max-inline-size: calc(100% - var(--pc-spacing-xxl));
        min-block-size: 15rem;
        block-size: max-content;
        max-block-size: calc(100% - (var(--pc-spacing-xxl) * 2));
    }

    .search-dialog > .dev-warning {
        text-align: center;
        font-weight: var(--pc-font-weight-semibold);
    }

    #search {
        --pagefind-ui-primary: var(--pc-color-text-normal);
        --pagefind-ui-text: var(--pc-color-text-normal);
        --pagefind-ui-font: var(--pc-font-sans);
        --pagefind-ui-background: var(--pc-color-neutral-fill-normal);
        --pagefind-ui-border: var(--pc-color-text-quiet);
        --pagefind-ui-border-width: 0.0625rem;
        --pagefind-ui-tag: var(--pc-color-text-quiet);

        --search-result-spacing: var(--pc-spacing-xl);
        --search-result-pad-inline-start: 3.75rem;
        --search-result-pad-inline-end: var(--pc-spacing-xl);
        --search-result-pad-block: 0.9375rem;
        --search-result-nested-pad-block: 0.625rem;
        --search-corners: var(--pc-border-radius-m);
        --search-page-icon-size: 1.875rem;
        --search-page-icon-inline-start: calc(
            (
                    var(--search-result-pad-inline-start) -
                        var(--search-page-icon-size)
                ) /
                2
        );
        --search-tree-diagram-size: 2.5rem;
        --search-tree-diagram-inline-start: calc(
            (
                    var(--search-result-pad-inline-start) -
                        var(--search-tree-diagram-size)
                ) /
                2
        );
    }

    #search .pagefind-ui__form::before {
        --pagefind-ui-text: var(--pc-color-text-quiet);
        content: "";
        position: absolute;
        inset-block-start: 1.0625rem;
        inset-inline-start: 0.9375rem;
        inline-size: 1.125rem;
        block-size: 1.125rem;
        opacity: 1;
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.5 9.75c0 2.15-.7 4.14-1.875 5.74L23.37 21.4c.59.59.59 1.54 0 2.12s-1.54.59-2.12 0L15.5 17.6c-1.61 1.18-3.6 1.875-5.74 1.875C4.37 19.5 0 15.13 0 9.75S4.37 0 9.75 0S19.5 4.37 19.5 9.75zM9.75 16.5a6.75 6.75 0 1 0 0-13.5 6.75 6.75 0 1 0 0 13.5z'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.5 9.75c0 2.15-.7 4.14-1.875 5.74L23.37 21.4c.59.59.59 1.54 0 2.12s-1.54.59-2.12 0L15.5 17.6c-1.61 1.18-3.6 1.875-5.74 1.875C4.37 19.5 0 15.13 0 9.75S4.37 0 9.75 0S19.5 4.37 19.5 9.75zM9.75 16.5a6.75 6.75 0 1 0 0-13.5 6.75 6.75 0 1 0 0 13.5z'/%3E%3C/svg%3E");
    }

    #search .pagefind-ui__search-input {
        padding-inline-end: calc((1.0625em * 2) + 1.25rem) !important;
        inline-size: 100%;
        background-color: var(--pc-form-control-background-color);
        color: var(--pc-form-control-value-color);
        border-color: var(--pc-form-control-border-color);
        border-radius: var(--pc-border-radius-l);
        font-weight: var(--pc-form-control-value-font-weight);
        transition: all var(--pc-transition-fast) ease-in-out;
    }

    @media (hover: hover) {
        #search .pagefind-ui__search-input:not(:focus):hover {
            border-color: color-mix(
                in oklab,
                var(--pc-form-control-border-color),
                var(--pc-color-mix-hover)
            );
        }
    }

    #search .pagefind-ui__search-input:focus {
        border-color: var(--pc-form-control-border-color);
        outline: var(--pc-focus-ring);
        outline-offset: var(--pc-focus-ring-offset);
        animation: focus-ring-animation var(--pc-transition-medium)
            cubic-bezier(0.33, 1, 0.68, 1);
    }

    #search .pagefind-ui__search-input::placeholder {
        color: var(--pc-form-control-placeholder-color);
        opacity: 1;
    }

    #search .pagefind-ui__search-clear {
        inset-block-start: 0.9375rem;
        inset-inline-end: 1.0625em;
        padding: 0;
        inline-size: 1.25rem;
        block-size: 1.25rem;
        background-color: transparent;
        color: transparent;
        border-radius: var(--pc-border-radius-circle);
        overflow: hidden;
        transition: outline var(--pc-transition-fast) ease-in-out;
    }

    #search .pagefind-ui__search-clear:focus-visible {
        outline: var(--pc-focus-ring);
        outline-offset: var(--pc-focus-ring-offset);
        animation: focus-ring-animation var(--pc-transition-medium)
            cubic-bezier(0.33, 1, 0.68, 1);
    }

    #search .pagefind-ui__search-clear::before {
        content: "";
        display: block;
        inline-size: 100%;
        block-size: 100%;
        background-color: var(--pc-color-text-quiet);
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM167 167c-9.4 9.4-9.4 24.6 0 33.9l55 55-55 55c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l55-55 55 55c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-55-55 55-55c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-55 55-55-55c-9.4-9.4-24.6-9.4-33.9 0z'/%3E%3C/svg%3E")
            center / 100% no-repeat;
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM167 167c-9.4 9.4-9.4 24.6 0 33.9l55 55-55 55c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l55-55 55 55c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-55-55 55-55c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-55 55-55-55c-9.4-9.4-24.6-9.4-33.9 0z'/%3E%3C/svg%3E")
            center / 100% no-repeat;
        transition: all var(--pc-transition-fast) ease-in-out;
    }

    @media (hover: hover) {
        #search .pagefind-ui__search-clear:hover::before {
            background-color: color-mix(
                in oklab,
                var(--pc-color-text-quiet),
                var(--pc-color-mix-hover)
            );
        }
    }

    #search .pagefind-ui__search-clear:active::before {
        background-color: color-mix(
            in oklab,
            var(--pc-color-text-quiet),
            var(--pc-color-mix-active)
        );
    }

    #search .pagefind-ui__results > * + * {
        margin-block-start: var(--search-result-spacing);
    }

    #search .pagefind-ui__drawer > .pagefind-ui__message {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    #search .pagefind-ui__result {
        border: 0;
        padding: 0;
    }

    #search .pagefind-ui__result-nested {
        position: relative;
        padding: var(--search-result-nested-pad-block)
            var(--search-result-pad-inline-end);
        padding-inline-start: var(--search-result-pad-inline-start);
    }

    #search
        .pagefind-ui__result-title:not(
            .pagefind-ui__result-nested > .pagefind-ui__result-title
        ),
    #search .pagefind-ui__result-nested {
        position: relative;
        background-color: var(--pc-color-neutral-fill-normal);
    }

    @media (hover: hover) {
        #search
            .pagefind-ui__result-title:not(
                .pagefind-ui__result-nested > .pagefind-ui__result-title
            ):hover,
        #search .pagefind-ui__result-nested:hover {
            background-color: color-mix(
                in oklab,
                var(--pc-color-neutral-fill-normal),
                var(--pc-color-mix-hover)
            );
        }
    }

    #search
        .pagefind-ui__result-title:not(
            .pagefind-ui__result-nested > .pagefind-ui__result-title
        ):active,
    #search .pagefind-ui__result-nested:active {
        background-color: color-mix(
            in oklab,
            var(--pc-color-neutral-fill-normal),
            var(--pc-color-mix-active)
        );
    }

    #search
        .pagefind-ui__result-title:not(
            .pagefind-ui__result-nested > .pagefind-ui__result-title
        ):has(.pagefind-ui__result-link:focus-visible),
    #search
        .pagefind-ui__result-nested:has(
            .pagefind-ui__result-link:focus-visible
        ) {
        outline: var(--pc-focus-ring);
        outline-offset: var(--pc-focus-ring-offset);
        z-index: 1;
        animation: focus-ring-animation var(--pc-transition-medium)
            cubic-bezier(0.33, 1, 0.68, 1);
    }

    #search .pagefind-ui__result-thumb,
    #search .pagefind-ui__result-inner {
        margin-block-start: 0;
    }

    #search .pagefind-ui__result-inner > * {
        transition: all var(--pc-transition-fast) ease-in-out;
    }

    #search .pagefind-ui__result-inner > .pagefind-ui__result-nested {
        border-radius: 0.125rem;
    }

    #search .pagefind-ui__result-inner > :first-child {
        border-start-start-radius: var(--search-corners);
        border-start-end-radius: var(--search-corners);
        border-end-start-radius: 0.125rem;
        border-end-end-radius: 0.125rem;
    }

    #search .pagefind-ui__result-inner > :last-child {
        border-start-start-radius: 0.125rem;
        border-start-end-radius: 0.125rem;
        border-end-start-radius: var(--search-corners);
        border-end-end-radius: var(--search-corners);
    }

    #search
        .pagefind-ui__result-inner
        > .pagefind-ui__result-title:not(:has(~ .pagefind-ui__result-nested)) {
        border-radius: var(--search-corners);
    }

    #search .pagefind-ui__result-inner > .pagefind-ui__result-title {
        padding-block: var(--search-result-pad-block);
        padding-inline: var(--search-result-pad-inline-end);
        padding-inline-start: var(--search-result-pad-inline-start);
    }

    #search .pagefind-ui__result-inner > .pagefind-ui__result-title::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline-start: var(--search-page-icon-inline-start);
        inline-size: var(--search-page-icon-size);
        background-color: var(--pc-color-text-quiet);
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M9 10h1a1 1 0 1 0 0-2H9a1 1 0 0 0 0 2Zm0 2a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2H9Zm11-3V8l-6-6a1 1 0 0 0-1 0H7a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V9Zm-6-4 3 3h-2a1 1 0 0 1-1-1V5Zm4 14a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h5v3a3 3 0 0 0 3 3h3v9Zm-3-3H9a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2Z'/%3E%3C/svg%3E")
            center no-repeat;
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24'%3E%3Cpath d='M9 10h1a1 1 0 1 0 0-2H9a1 1 0 0 0 0 2Zm0 2a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2H9Zm11-3V8l-6-6a1 1 0 0 0-1 0H7a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3V9Zm-6-4 3 3h-2a1 1 0 0 1-1-1V5Zm4 14a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h5v3a3 3 0 0 0 3 3h3v9Zm-3-3H9a1 1 0 0 0 0 2h6a1 1 0 0 0 0-2Z'/%3E%3C/svg%3E")
            center no-repeat;
    }

    #search .pagefind-ui__result-inner {
        align-items: stretch;
        gap: 0.125rem;
    }

    #search .pagefind-ui__result-link {
        position: unset;
        --pagefind-ui-text: var(--pc-color-text-normal);
        font-weight: var(--pc-font-weight-bold);
        outline: none;
    }

    @media (hover: hover) {
        #search .pagefind-ui__result-link:hover {
            text-decoration: none;
        }
    }

    #search .pagefind-ui__result-nested .pagefind-ui__result-link::before {
        content: unset;
    }

    #search .pagefind-ui__result-nested::before {
        content: "";
        position: absolute;
        inset-block: 0;
        inset-inline-start: var(--search-tree-diagram-inline-start);
        inline-size: var(--search-tree-diagram-size);
        background-color: var(--pc-color-text-quiet);
        mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' viewBox='0 0 16 1000' preserveAspectRatio='xMinYMin slice'%3E%3Cpath d='M8 0v1000m6-988H8'/%3E%3C/svg%3E")
            0% 0% / 100% no-repeat;
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' viewBox='0 0 16 1000' preserveAspectRatio='xMinYMin slice'%3E%3Cpath d='M8 0v1000m6-988H8'/%3E%3C/svg%3E")
            0% 0% / 100% no-repeat;
    }

    #search .pagefind-ui__result-nested:last-of-type::before {
        mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 16 16'%3E%3Cpath d='M8 0v12m6 0H8'/%3E%3C/svg%3E");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' viewBox='0 0 16 16'%3E%3Cpath d='M8 0v12m6 0H8'/%3E%3C/svg%3E");
    }

    #search .pagefind-ui__result-link::after {
        content: "";
        position: absolute;
        inset: 0;
    }

    #search
        .pagefind-ui__result-inner
        > .pagefind-ui__result-title
        + .pagefind-ui__result-excerpt {
        display: none;
    }

    #search .pagefind-ui__result-excerpt {
        font-size: var(--pc-font-size-s);
        overflow-wrap: anywhere;
    }

    #search mark {
        padding: 0.125em 0.25em;
        color: var(--pc-color-warning-on-quiet);
        background-color: var(--pc-color-warning-fill-quiet);
        border-radius: var(--pc-border-radius-s);
    }

    #search .pagefind-ui__filter-value::before {
        border-color: var(--pc-color-neutral-border-normal);
    }

    #search .pagefind-ui__result-tags {
        background-color: var(--pc-color-neutral-fill-normal);
        margin-block-start: 0;
        padding: var(--search-result-nested-pad-block)
            var(--search-result-pad-inline-end);
    }

    #search .pagefind-ui__button {
        background-color: var(--pc-color-neutral-fill-normal);
        border-color: var(--pc-color-neutral-border-normal);
        color: var(--pc-color-neutral-on-normal);
        font-weight: var(--pc-font-weight-bold);
        padding-inline: var(--pc-spacing-m);
        transition: all var(--pc-transition-fast) ease-in-out;
    }

    @media (hover: hover) {
        #search .pagefind-ui__button:hover {
            background-color: color-mix(
                in oklab,
                var(--pc-color-neutral-fill-normal),
                var(--pc-color-mix-hover)
            );
        }
    }

    #search .pagefind-ui__button:active {
        background-color: color-mix(
            in oklab,
            var(--pc-color-neutral-fill-normal),
            var(--pc-color-mix-active)
        );
    }

    #search .pagefind-ui__button:focus-visible {
        outline: var(--pc-focus-ring);
        outline-offset: var(--pc-focus-ring-offset);
        animation: focus-ring-animation var(--pc-transition-medium)
            cubic-bezier(0.33, 1, 0.68, 1);
    }

    @keyframes focus-ring-animation {
        0% {
            outline-width: 0;
        }

        50% {
            outline-width: calc(var(--pc-focus-ring-width) * 2);
        }

        100% {
            outline-width: var(--pc-focus-ring-width);
        }
    }
</style>
