---
import { getLanguageFromURL, useTranslations } from "../i18n/utilities.js";

const { is992Size, slotName, variant = "outlined" } = Astro.props;

const language = getLanguageFromURL(Astro.url);
const translation = useTranslations(language);
---

<div
    class:list={[
        { "social-icons": true },
        { "is-header-action": slotName === "header-actions" },
        { "pc-992-size": is992Size },
    ]}
    aria-label={translation("nav.content.socialIcons.aria") as string}
    slot={slotName}
>
    <pc-button
        size="small"
        variant={variant}
        data-dialog="open v0-site-warning"
    >
        <pc-icon
            class="icon-expand"
            library="default"
            icon-style="solid"
            name="backward"
            label="Placer Toolkit v0 docs"></pc-icon>
    </pc-button>
    <pc-button
        size="small"
        variant={variant}
        href="https://github.com/placer-toolkit/placer-toolkit"
        rel="noreferrer noopener"
        target="_blank"
    >
        <pc-icon
            class="icon-expand"
            library="default"
            icon-style="brands"
            name="github"
            label="GitHub"></pc-icon>
    </pc-button>
</div>

<style>
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--pc-spacing-m);
    }

    .social-icons.is-header-action {
        gap: var(--pc-spacing-xs);
    }
</style>
