.transition-demo {
    position: relative;
    block-size: 2.25rem;
    background-color: var(--pc-color-neutral-fill-normal);
    border-radius: var(--pc-border-radius-m);
    overflow: hidden;
    cursor: pointer;
    transition: inherit;

    &::after {
        content: "";
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        inline-size: 0;
        block-size: 100%;
        background-color: var(--pc-color-primary-fill-loud);
        border-radius: var(--pc-border-radius-m);
        transition: inline-size inherit ease-in-out;
    }

    @media (hover: hover) {
        &:hover::after {
            inline-size: 100%;
        }
    }

    @media (hover: none) {
        &:active::after {
            inline-size: 100%;
        }
    }
}
