.heading-wrapper {
    margin-block-end: var(--pc-content-spacing);
    line-height: var(--pc-line-height-dense);
}

.heading-wrapper.level-h1 {
    font-size: var(--pc-font-size-xxxl);
}

.heading-wrapper.level-h2 {
    font-size: var(--pc-font-size-xxl);
}

.heading-wrapper.level-h3 {
    font-size: var(--pc-font-size-xl);
}

.heading-wrapper.level-h4 {
    font-size: var(--pc-font-size-l);
}

.heading-wrapper.level-h5 {
    font-size: var(--pc-font-size-m);
}

.heading-wrapper.level-h6 {
    font-size: var(--pc-font-size-s);
}

.heading-wrapper :is(h1, h2, h3, h4, h5, h6) {
    display: inline;
    margin-block-end: 0;
    padding-inline-end: calc(1em + var(--pc-spacing-l));
}

.heading-wrapper .heading-anchor {
    position: relative;
    margin-inline-start: calc(1em * -1);
    block-size: 100%;
    color: var(--pc-color-text-link);
    font-size: 1em;
    opacity: 0;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

/* This increases the touch target for the heading anchor. */
.heading-wrapper .heading-anchor::after {
    content: "";
    position: absolute;
    inset-block: -0.25rem;
    inset-inline: -0.5rem;
}

.heading-wrapper .heading-anchor pc-icon {
    position: relative;
    inset-block-start: 0.125em;
}

@media (hover: hover) {
    .heading-wrapper .heading-anchor:hover {
        color: color-mix(
            in oklab,
            var(--pc-color-text-link),
            var(--pc-color-mix-hover)
        );
    }
}

.heading-wrapper .heading-anchor:active {
    color: color-mix(
        in oklab,
        var(--pc-color-text-link),
        var(--pc-color-mix-active)
    );
}

@media (hover: hover) {
    .heading-wrapper:hover .heading-anchor,
    .heading-wrapper .heading-anchor:active {
        opacity: 1;
    }
}

.heading-wrapper:has(> :focus-visible) .heading-anchor {
    opacity: 1;
}

@media (hover: none) {
    .heading-wrapper .heading-anchor {
        opacity: 1;
    }
}
