.catalog-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--pc-spacing-l);
    margin-block-end: var(--pc-spacing-xl);

    a {
        display: block;
        color: inherit;
        border-radius: var(--pc-border-radius-l);
    }

    pc-card {
        block-size: 100%;
        inline-size: 100%;

        &::part(base) {
            block-size: 100%;
            transition: border-color var(--pc-transition-fast) ease-in-out;
        }

        @media (hover: hover) {
            a &::part(base):hover {
                border-color: color-mix(
                    in oklab,
                    var(--pc-color-primary-border-loud),
                    var(--pc-color-mix-hover)
                );
            }
        }

        a &::part(base):active {
            border-color: color-mix(
                in oklab,
                var(--pc-color-primary-border-loud),
                var(--pc-color-mix-active)
            );
        }

        &.split-border::part(header) {
            border-block-start: var(--pc-border-width-s) var(--pc-border-style)
                var(--pc-color-surface-border);
            transition: border-color var(--pc-transition-fast) ease-in-out;
        }

        @media (hover: hover) {
            a &.split-border:hover::part(header) {
                border-color: color-mix(
                    in oklab,
                    var(--pc-color-primary-border-loud),
                    var(--pc-color-mix-hover)
                );
            }
        }

        a &.split-border:active::part(header) {
            border-color: color-mix(
                in oklab,
                var(--pc-color-primary-border-loud),
                var(--pc-color-mix-active)
            );
        }

        div[slot="media"] {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-block-start: var(--pc-spacing-xl);
            padding-block-end: var(--pc-spacing-l);
            inline-size: 100%;
            block-size: calc(4rem + var(--pc-spacing-xl) + var(--pc-spacing-l));
        }

        div[slot="media"] svg {
            border-radius: 0;
            overflow: visible;
        }

        .catalog-title {
            font-weight: var(--pc-font-weight-bold);
            text-align: center;
        }

        .header-minimization &::part(header) {
            padding-block-end: 0;
            border-block-end-width: 0;
        }

        .header-minimization & .catalog-title[slot="header"] {
            text-align: start;
        }

        .header-minimization &::part(body) {
            padding-block-start: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .catalog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .catalog-grid {
        grid-template-columns: 1fr;
    }
}
