@import "./fonts/space-grotesk.css";

.navbar {
    background: color-mix(
        in oklab,
        var(--pc-color-surface-default) var(--navigation-opacity),
        transparent
    ) !important;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.pc-dark body {
    --indigo-overlay: color-mix(
        in oklab,
        var(--pc-color-neutral-05),
        var(--pc-color-indigo-05) 40%
    );
    --blue-overlay: color-mix(
        in oklab,
        var(--pc-color-neutral-05),
        var(--pc-color-blue-05) 40%
    );
    --purple-overlay: color-mix(
        in oklab,
        var(--pc-color-neutral-05),
        var(--pc-color-purple-05) 40%
    );

    background:
        linear-gradient(135deg, var(--indigo-overlay), transparent 40%),
        linear-gradient(215deg, var(--indigo-overlay), transparent 40%),
        linear-gradient(315deg, var(--blue-overlay), transparent 40%),
        linear-gradient(45deg, var(--purple-overlay), transparent 40%),
        radial-gradient(var(--indigo-overlay), transparent 40%)
            no-repeat -60vw -40vh / 105vw 200vh,
        radial-gradient(var(--indigo-overlay), transparent 65%) no-repeat 50%
            calc(100% + 20rem) / 60rem 30rem;
}

.pc-light body {
    --indigo-overlay-light: color-mix(
        in oklab,
        var(--pc-color-neutral-95),
        var(--pc-color-indigo-50) 8%
    );
    --blue-overlay-light: color-mix(
        in oklab,
        var(--pc-color-neutral-95),
        var(--pc-color-blue-50) 8%
    );
    --purple-overlay-light: color-mix(
        in oklab,
        var(--pc-color-neutral-95),
        var(--pc-color-purple-50) 5%
    );

    background:
        linear-gradient(135deg, var(--blue-overlay-light), transparent 40%),
        linear-gradient(215deg, var(--indigo-overlay-light), transparent 40%),
        linear-gradient(315deg, var(--purple-overlay-light), transparent 40%),
        radial-gradient(var(--blue-overlay-light), transparent 40%)
            no-repeat -60vw -40vh / 105vw 200vh,
        radial-gradient(var(--indigo-overlay-light), transparent 65%) no-repeat
            50% calc(100% + 20rem) / 60rem 30rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Space Grotesk", var(--pc-font-sans);
}

.ipa {
    font-size: var(--pc-font-size-smaller);
    color: var(--pc-color-text-quiet);
}
