/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html ::selection,
html.pc-light ::selection {
    background-color: var(--pc-color-primary-95);
    color: var(--pc-color-primary-30);
}

html.pc-dark ::selection {
    background-color: var(--pc-color-primary-30);
    color: var(--pc-color-primary-90);
}

html,
body {
    margin: 0;
    padding: 0;
    block-size: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-padding-block-start: 4.5rem;
    -webkit-overflow-scrolling: touch;
}

/* This is necessary to prevent double scrollbars from appearing in the Popup docs. */
html {
    overflow-y: hidden;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto !important;
    }
}

/* Language‐specific word break optimisations */
[lang~="de"]:not(:has([lang~="en"])) {
    hyphens: auto;
    overflow-wrap: break-word;
}

code,
pre,
kbd,
samp,
var {
    hyphens: none;
    overflow-wrap: normal;
}

/* Layout container — Main grid */
.layout-container {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 3.5rem 1fr auto;
    min-block-size: 100dvh;
}

html.no-sidebar .layout-container {
    grid-template-columns: 0 1fr;
}

/* Skip links */
.skip-to-main-content {
    position: fixed;
    inset-block-start: var(--pc-spacing-l);
    inset-inline-start: var(--pc-spacing-l);
    z-index: 1000;
}

.skip-to-toc {
    position: fixed;
    inset-block-start: calc(3.5rem + var(--pc-spacing-l));
    inset-inline-start: calc(300px + var(--pc-spacing-l));
    z-index: 10000000;
}

.return-to-main-content {
    position: absolute;
    inset-block-start: var(--pc-spacing-m);
    inset-inline-start: var(--pc-spacing-m);
    z-index: 100;
}

/* Dialog and drawer re‐style */
html.hero pc-dialog::part(dialog) {
    background-color: color-mix(
        in oklab,
        var(--pc-color-surface-raised),
        transparent 30%
    );
    backdrop-filter: blur(8px);
}

html.hero pc-drawer::part(drawer) {
    background-color: color-mix(
        in oklab,
        var(--pc-color-surface-raised),
        transparent 30%
    ) !important;
    backdrop-filter: blur(8px);
}

/* Main content area */
main {
    grid-area: main;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-block: var(--pc-spacing-xxl);
    padding-inline: var(--pc-spacing-xxxxl);
    max-inline-size: 100%;
    z-index: 1;

    &:not(.hero) article > header,
    &:not(.hero) article {
        min-inline-size: 80ch;
        max-inline-size: 80ch;
    }

    .pc-theme-utility &:not(.hero) article > header,
    .pc-theme-utility &:not(.hero) article {
        min-inline-size: 75ch;
        max-inline-size: 75ch;
    }

    .pc-theme-serene &:not(.hero) article > header,
    .pc-theme-serene &:not(.hero) article {
        min-inline-size: 70ch;
        max-inline-size: 70ch;
    }

    & article > header h1 {
        margin: 0;
        margin-block-end: var(--pc-spacing-xl);
        font-size: 2.5rem;
    }

    &:not(.hero) article pc-callout:not(.code-demo pc-callout) {
        display: block;
        margin-block-end: var(--pc-spacing-xl);
    }

    &:not(.hero) article .reflects {
        color: var(--pc-color-success-50);
    }

    &:not(.hero) article .does-not-reflect {
        color: var(--pc-color-danger-50);
    }
}

.content-layout {
    display: grid;
    align-items: flex-start;
    position: relative;
    grid-template-columns: 1fr 300px;
    gap: 5rem;
}

/* Table of contents */
.toc {
    position: sticky;
    inset-block-start: calc(3.5rem + var(--pc-spacing-xxxl));
    line-height: var(--pc-line-height-dense);
}

.toc.toc-desktop {
    display: block;
}

.toc .toc-container {
    position: relative;
}

.toc .toc-container .toc-scroll-fade {
    position: relative;
    max-block-size: calc(100dvh - 3.5rem - var(--pc-spacing-xxxl));
}

.toc .toc-container .toc-scroll-fade::part(start-shadow),
.toc .toc-container .toc-scroll-fade::part(end-shadow) {
    z-index: 1;
}

.toc
    .toc-container
    .toc-scroll-fade
    .toc-heading:not(.toc-mobile .toc-heading) {
    margin-block-end: var(--pc-spacing-s);
    font-size: var(--pc-font-size-m);
}

.toc .toc-container .toc-scroll-fade .toc-inner {
    position: relative;
    padding-inline: var(--pc-spacing-l);
}

.toc .toc-container .toc-scroll-fade .toc-inner::before {
    content: "";
    position: absolute;
    inset-block: 0;
    inset-inline-start: 0;
    inline-size: var(--pc-border-width-m);
    block-size: 100%;
    background-color: var(--pc-color-neutral-border-quiet);
    border-radius: var(--pc-border-radius-pill);
}

.toc .toc-container .toc-scroll-fade .toc-inner .toc-marker {
    position: absolute;
    inset-inline-start: 0;
    inline-size: var(--pc-border-width-m);
    block-size: var(--pc-spacing-xl);
    background: var(--pc-color-primary-border-loud);
    border-radius: var(--pc-border-radius-pill);
    will-change: transform;
    pointer-events: none;
    transition: transform var(--pc-transition-fast)
        cubic-bezier(0.2, 0.8, 0.2, 1);
}

.toc .toc-container .toc-scroll-fade .toc-inner .toc-ul {
    margin-inline-start: 0;
    font-size: var(--pc-font-size-s);
    list-style: none;
}

.toc .toc-container .toc-scroll-fade .toc-inner .toc-ul .toc-item {
    display: flex;
    align-items: center;
    margin-block: 0.75rem;
    margin-inline: 0;

    &.depth-3 {
        margin-inline-start: var(--pc-spacing-m);
    }

    a {
        display: inline-block;
        color: var(--pc-color-text-quiet);
        font-weight: var(--pc-font-weight-normal);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;
        max-inline-size: 100%;
        transition: color var(--pc-transition-fast) ease-in-out;

        @media (hover: hover) {
            &:hover {
                color: color-mix(
                    in oklab,
                    var(--pc-color-text-quiet),
                    var(--pc-color-mix-hover)
                );
            }
        }

        &:active {
            color: color-mix(
                in oklab,
                var(--pc-color-text-quiet),
                var(--pc-color-mix-active)
            );
        }

        &.active {
            color: var(--pc-color-primary-fill-loud);
            font-weight: var(--pc-font-weight-semibold);
        }
    }
}

.hero-callout {
    inline-size: auto;
}

.content-layout .hero-callout {
    inline-size: 100%;
}

/* Keyframes */
@keyframes spin {
    0% {
        rotate: 0deg;
        stroke-dasharray: 0% 314.159%;
    }

    50% {
        rotate: 450deg;
        stroke-dasharray: 157.08% 157.08%;
    }

    100% {
        rotate: 1080deg;
        stroke-dasharray: 0% 314.159%;
    }
}

/* Desktop styles */
@media screen and (min-width: 1441px) {
    .toc-mobile {
        display: none;
    }
}

/* Mobile styles */
@media screen and (max-width: 1440px) {
    .toc-desktop {
        display: none;
    }

    .layout-container {
        grid-template-areas:
            "navbar"
            "main"
            "footer";
        grid-template-columns: 1fr !important;
        grid-template-rows: 3.5rem 1fr auto;
    }

    main {
        padding: var(--pc-spacing-xxl) var(--pc-spacing-xxxl);

        &:not(.hero) article > header,
        &:not(.hero) article {
            min-inline-size: 100% !important;
            max-inline-size: 100% !important;
        }

        .content-layout {
            grid-template-columns: 1fr;
        }
    }

    .toc-mobile {
        display: block;
        margin-block-end: var(--pc-spacing-xl);

        &::part(summary) {
            font-weight: var(--pc-font-weight-bold);
        }

        ul {
            margin-block-start: calc(var(--pc-spacing-m) * -1);
        }
    }

    .toc-mobile .toc-ul {
        line-height: var(--pc-line-height-dense);
    }
}

@media screen and (max-width: 768px) {
    .hero-callout {
        inline-size: 100%;
    }

    .hero-callout .pc-split {
        flex-direction: column;
    }

    .hero-callout .pc-split p {
        text-align: center;
    }

    .hero-callout .pc-split pc-button {
        inline-size: 100%;
    }
}
