---
import { Image } from "astro:assets";

import Logo from "../../assets/logo.svg";
import Uni404se from "../../assets/uni404se.svg";

import Page from "../../layouts/Page.astro";

import "../../styles/landing-override.css";
---

<link
    rel="stylesheet"
    href="https://fonts.bunny.net/css?family=alfa-slab-one:400|amatic-sc:700|bebas-neue:400|bungee-shade:400|caveat:700|chewy:400|creepster:400|dotgothic16:400|indie-flower:400|luckiest-guy:400|michroma:400|permanent-marker:400|press-start-2p:400|space-grotesk:700|special-elite:400|ultra:400&display=swap"
/>

<Page title="404 – Seite nicht gefunden" noSidebar showFooter hero>
    <div class="notfound-container">
        <Image class="uni404se" src={Uni404se} loading="eager" alt="" />
        <Image
            class="logo"
            src={Logo}
            width="128"
            height="128"
            loading="eager"
            alt=""
        />

        <div class="content pc-dark">
            <h1 class="notfound-font-switch">404</h1>

            <p>Diese Seite schlich an unseren Suchhunden vorbei.</p>

            <footer class="pc-stack pc-gap-s">
                <pc-button
                    variant="filled outlined"
                    data-dialog="open search-dialog"
                >
                    <pc-icon
                        library="default"
                        icon-style="solid"
                        name="magnifying-glass"
                        slot="prefix"></pc-icon>
                    Schick unsere Hunde los
                </pc-button>

                <div class="pc-gap-s">
                    <pc-button
                        appearance="primary"
                        variant="filled outlined"
                        href="/"
                    >
                        <pc-icon
                            library="default"
                            icon-style="solid"
                            name="house"
                            slot="prefix"></pc-icon>
                        Bring mich nach Hause
                    </pc-button>
                    <pc-button
                        id="random-link"
                        variant="filled outlined"
                        href="/"
                    >
                        <pc-icon
                            library="default"
                            icon-style="solid"
                            name="dice-six"
                            slot="prefix"></pc-icon>
                        Auf gut Glück!
                    </pc-button>
                </div>
            </footer>
        </div>

        <pc-dialog label="Unser Datenschutzversprechen" id="privacy-promise">
            <p>
                Unsere Website ist zu 100 % frei von Cookies! Wir legen großen
                Wert auf deine Privatsphäre und speichern daher keinerlei
                Cookies oder persönliche Informationen über dich.
            </p>

            <p>
                Dein Browserverlauf bleibt sauber und deine Daten sind
                geschützt, ganz im Einklang mit modernen Datenschutzstandards
                wie der
                <abbr title="Datenschutz-Grundverordnung">DSGVO</abbr>. Genieße
                deinen Besuch ganz ohne digitale Cookies! 🍪🚫
            </p>

            <p>
                Weitere Informationen findest du in unserer
                <a href="/de/docs/legal/privacy">Datenschutzerklärung</a>.
            </p>

            <pc-button
                appearance="primary"
                variant="plain"
                slot="footer"
                data-dialog="close"
            >
                <pc-icon
                    library="default"
                    icon-style="solid"
                    name="shield-halved"
                    slot="prefix"></pc-icon>
                Alles klar!
            </pc-button>
        </pc-dialog>
    </div>
</Page>

<script>
    const notFoundFontSwitcher = document.querySelector(
        ".notfound-font-switch",
    ) as HTMLElement;

    const fontArray = [
        "Space Grotesk",
        "Alfa Slab One",
        "Amatic SC",
        "Bebas Neue",
        "Bungee Shade",
        "Caveat",
        "Chewy",
        "Creepster",
        "DotGothic16",
        "Indie Flower",
        "Luckiest Guy",
        "Michroma",
        "Permanent Marker",
        "Press Start 2P",
        "Special Elite",
        "Ultra",
    ];

    if ("fonts" in document) {
        fontArray.forEach((font) => {
            document.fonts.load(`1em "${font}"`);
        });
    }

    let lastRandomFontName = "Space Grotesk";

    notFoundFontSwitcher?.addEventListener("click", () => {
        let randomIndex;
        let randomFontName;

        do {
            randomIndex = Math.floor(Math.random() * fontArray.length);
            randomFontName = fontArray[randomIndex];
        } while (randomFontName === lastRandomFontName);

        notFoundFontSwitcher.style.fontFamily = `'${randomFontName}', var(--pc-font-sans)`;

        lastRandomFontName = randomFontName;
    });

    function trySetRandomLink() {
        const randomButton = document.getElementById("random-link");

        if (!randomButton) {
            return;
        }

        let links = window.__sidebarLinks__;

        if (!links || links.length === 0) {
            const mobileLinks = Array.from(
                document.querySelectorAll(".mobile-sidebar pc-details a"),
            )
                .map((a) => a.getAttribute("href"))
                .filter(
                    (href) =>
                        href &&
                        !href.includes("/legal/") &&
                        !href.startsWith("http"),
                );

            links = mobileLinks as string[];
        }

        if (links && links.length > 0) {
            const randomLink = links[Math.floor(Math.random() * links.length)];

            randomButton.setAttribute("href", randomLink);
        } else {
            setTimeout(() => trySetRandomLink(), 200);
        }
    }

    trySetRandomLink();
</script>

<style>
    :global(.navbar) {
        background: color-mix(
            in oklab,
            var(--pc-color-surface-default) var(--navigation-opacity),
            transparent
        ) !important;
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
    }

    :global(.pc-dark) :global(body) {
        --indigo-overlay: color-mix(
            in oklab,
            var(--pc-color-neutral-05),
            var(--pc-color-indigo-05) 40%
        );
        --blue-overlay: color-mix(
            in oklab,
            var(--pc-color-neutral-05),
            var(--pc-color-blue-05) 40%
        );
        --purple-overlay: color-mix(
            in oklab,
            var(--pc-color-neutral-05),
            var(--pc-color-purple-05) 40%
        );

        background:
            linear-gradient(135deg, var(--indigo-overlay), transparent 40%),
            linear-gradient(215deg, var(--indigo-overlay), transparent 40%),
            linear-gradient(315deg, var(--blue-overlay), transparent 40%),
            linear-gradient(45deg, var(--purple-overlay), transparent 40%),
            radial-gradient(var(--indigo-overlay), transparent 40%)
                no-repeat -60vw -40vh / 105vw 200vh,
            radial-gradient(var(--indigo-overlay), transparent 65%) no-repeat
                50% calc(100% + 20rem) / 60rem 30rem;
    }

    :global(.pc-light) :global(body) {
        --indigo-overlay-light: color-mix(
            in oklab,
            var(--pc-color-neutral-95),
            var(--pc-color-indigo-50) 8%
        );
        --blue-overlay-light: color-mix(
            in oklab,
            var(--pc-color-neutral-95),
            var(--pc-color-blue-50) 8%
        );
        --purple-overlay-light: color-mix(
            in oklab,
            var(--pc-color-neutral-95),
            var(--pc-color-purple-50) 5%
        );

        background:
            linear-gradient(135deg, var(--blue-overlay-light), transparent 40%),
            linear-gradient(
                215deg,
                var(--indigo-overlay-light),
                transparent 40%
            ),
            linear-gradient(
                315deg,
                var(--purple-overlay-light),
                transparent 40%
            ),
            radial-gradient(var(--blue-overlay-light), transparent 40%)
                no-repeat -60vw -40vh / 105vw 200vh,
            radial-gradient(var(--indigo-overlay-light), transparent 65%)
                no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
    }

    .notfound-container {
        display: grid;
        grid-template: 100% / 100%;
        margin-block: var(--pc-spacing-xl);
        margin-inline: calc(-1 * var(--pc-spacing-xxxxl));
        overflow: hidden;
    }

    .notfound-container > * {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        place-self: center;
    }

    .notfound-container .uni404se {
        min-block-size: 46.875rem;
        object-fit: cover;
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
    }

    .notfound-container .logo {
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
        filter: drop-shadow(
            0 0 2px
                color-mix(in oklab, var(--pc-color-primary-60), transparent 70%)
        );
        transform: translate(17rem, 0.25rem) rotate(-30deg);
        transform-origin: center;
        animation: logo-movement 3s infinite alternate ease-in-out;
    }

    .notfound-container .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: var(--pc-spacing-l);
        inline-size: 100%;
        max-inline-size: 30rem;
        text-align: center;
        pointer-events: none;
    }

    .notfound-container .content > * {
        pointer-events: auto;
    }

    .notfound-container .content h1 {
        display: inline-block;
        font-family: "Space Grotesk", var(--pc-font-sans);
        font-size: 4rem;
        text-align: center;
        user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        transition: all var(--pc-transition-fast) ease-in-out;
    }

    @media (hover: hover) {
        .notfound-container .content h1:hover {
            color: color-mix(
                in oklab,
                var(--pc-color-primary-on-quiet),
                var(--pc-color-mix-hover)
            );
        }
    }

    .notfound-container .content h1:active {
        color: color-mix(
            in oklab,
            var(--pc-color-primary-on-quiet),
            var(--pc-color-mix-active)
        );
        scale: 0.95;
    }

    .notfound-container .content p {
        text-align: center;
    }

    .notfound-container .content footer pc-button:first-child::part(base) {
        justify-content: flex-start;
    }

    .notfound-container .content footer pc-button::part(base) {
        border-radius: calc(var(--pc-form-control-height) / 2);
        transition:
            all var(--pc-transition-fast) ease-in-out,
            translate var(--pc-transition-medium) cubic-bezier(0.4, 0, 0.2, 1),
            border-radius var(--pc-transition-medium)
                cubic-bezier(0.68, 0, 0.32, 1.6);
    }

    @media (hover: hover) {
        .notfound-container
            .content
            footer
            pc-button::part(base):hover:not(:active) {
            translate: 0 -0.25rem;
            transition:
                all var(--pc-transition-fast) ease-in-out,
                translate var(--pc-transition-medium)
                    cubic-bezier(0.18, 0.89, 0.32, 1.28),
                border-radius var(--pc-transition-medium)
                    cubic-bezier(0.68, 0, 0.32, 1.6);
        }

        .notfound-container .content footer pc-button::part(base):hover:active {
            translate: 0 -0.25rem;
            transition:
                all var(--pc-transition-fast) ease-in-out,
                translate var(--pc-transition-medium)
                    cubic-bezier(0.18, 0.89, 0.32, 1.28),
                border-radius var(--pc-transition-slow)
                    cubic-bezier(0.34, 2, 0.64, 1);
        }
    }

    .notfound-container .content footer pc-button::part(base):active {
        border-radius: var(--pc-border-radius-m);
        transition:
            all var(--pc-transition-fast) ease-in-out,
            border-radius var(--pc-transition-slow)
                cubic-bezier(0.34, 2, 0.64, 1);
    }

    @keyframes logo-movement {
        50% {
            transform: translate(17rem, 0.35rem) rotate(-32deg);
        }
    }

    @keyframes logo-movement-mobile {
        50% {
            transform: translate(-6rem, -19rem) rotate(12deg);
        }
    }

    @media screen and (max-width: 720px) {
        .notfound-container .logo {
            transform: translate(-6rem, -19rem) rotate(10deg);
            animation: logo-movement-mobile 3s infinite alternate ease-in-out;
        }
    }
</style>
