.color-palette {
    display: grid;
    grid-template-columns: 200px repeat(11, 1fr);
    gap: 1rem var(--pc-spacing-xs);
    margin: 2rem 0;
}

.color-palette-name {
    font-size: var(--pc-font-size-m);
    font-weight: var(--pc-font-weight-semibold);
    grid-template-columns: repeat(11, 1fr);
}

.color-palette-name code {
    font-size: var(--pc-font-size-xs);
}

.color-palette-swatch-container {
    font-size: var(--pc-font-size-xs);
    text-align: center;
}

.color-palette-swatch {
    display: flex;
    align-items: center;
    min-block-size: 3rem;
    border-radius: var(--pc-border-radius-m);
}

.color-mix-demo {
    justify-content: center;
    background-image: linear-gradient(
        to right,
        color-mix(in oklab, transparent, var(--mix-color)) 25%,
        color-mix(in oklab, var(--pc-color-primary-fill-loud), var(--mix-color))
            25%,
        color-mix(in oklab, var(--pc-color-primary-fill-loud), var(--mix-color))
            75%,
        var(--pc-color-primary-fill-loud) 75%,
        var(--pc-color-primary-fill-loud)
    );
    color: var(--pc-color-primary-on-loud);
    border: none;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .color-palette {
        grid-template-columns: repeat(6, 1fr);
    }

    .color-palette-name {
        grid-column-start: span 6;
    }
}
