.spacing-demo {
    --dot-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: var(--dot-size);
    block-size: 2rem;
    background-color: var(--pc-color-neutral-fill-normal);
    border-radius: var(--pc-border-radius-s);
}

.spacing-demo::before {
    content: "";
    margin-inline-start: calc(var(--dot-size) * -1);
    inline-size: var(--dot-size);
    block-size: var(--dot-size);
    background-color: var(--pc-color-neutral-on-normal);
    border-radius: var(--pc-border-radius-circle);
    aspect-ratio: 1 / 1;
}

.spacing-demo::after {
    content: "";
    margin-inline-end: calc(var(--dot-size) * -1);
    inline-size: var(--dot-size);
    block-size: var(--dot-size);
    background-color: var(--pc-color-neutral-on-normal);
    border-radius: var(--pc-border-radius-circle);
    aspect-ratio: 1 / 1;
}
