.transition-demo {
    position: relative;
    background-color: var(--pc-color-neutral-fill-normal);
    border-radius: var(--pc-border-radius-m);
    block-size: 2.25rem;
    overflow: hidden;
    cursor: pointer;
    transition: inherit;
}

.transition-demo::after {
    content: "";
    position: absolute;
    background-color: var(--pc-color-primary-fill-loud);
    border-radius: var(--pc-border-radius-m);
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 0;
    block-size: 100%;
    transition-property: inline-size;
    transition-duration: inherit;
    transition-timing-function: ease-in-out;
}

.transition-demo:hover::after {
    inline-size: 100%;
}
